 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/Plandetravail1PAWEBSITE.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 280px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-1 .u-text-1 {
    width: 637px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 84px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 679px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 479px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 57px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  text-transform: none;
  margin: 36px 1px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  line-height: 1;
  font-size: 1rem;
  margin: 16px 3px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 300;
  line-height: 1.4;
  font-size: 0.875rem;
  margin: 26px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 479px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("https://assets.nicepagecdn.com/23954ad7/5333801/images/e77b97d619bf9b889cdef846878150d7343ff29c33efcc782ada8cbefa886ee652ebf52cc25ccb698ba09d7eb6f4ecd48d6ef5d446a45edeeb0190_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-shape-1 {
  width: 228px;
  height: 228px;
  font-weight: normal;
  line-height: 1.6;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  width: 199px;
  height: 199px;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/Fichier2ICONE.png");
  background-position: 50% 50%;
  font-weight: normal;
  line-height: 1.6;
  font-size: 1rem;
  margin: -199px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 395px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 303px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 455px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 286px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 663px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  width: 342px;
  margin: 64px auto 0;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/MATURITE.png");
  background-position: 50% 50%;
  margin: 64px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 52px auto 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  line-height: 1.4;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 871px;
  margin: 7px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 615px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 980px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  width: 342px;
  margin: 64px auto 0;
}

.u-section-4 .u-table-1 {
  margin: 59px 0 60px;
}

.u-section-4 .u-table-header-1 {
  background-image: none;
}

.u-section-4 .u-table-cell-2 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-body-1 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-5 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-6 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-7 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-8 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-9 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-10 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-11 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-12 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-13 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-14 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-15 {
  font-size: 1rem;
}

.u-section-4 .u-table-cell-16 {
  font-size: 1rem;
}

.u-section-4 .u-table-footer-1 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-4 .u-table-cell-19 {
  font-size: 1.875rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-4 .u-table-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-4 .u-table-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-4 .u-table-1 {
    margin-top: 52px;
    margin-bottom: 52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-table-body-1 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-table-cell-5 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-table-cell-6 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-table-cell-8 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-table-cell-9 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-table-cell-10 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-table-cell-12 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-table-cell-13 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-table-cell-14 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-table-cell-16 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-table-cell-19 {
    font-size: 1.25rem;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1069px;
}

.u-section-5 .u-image-1 {
  height: 310px;
  margin: 0;
}

.u-section-5 .u-shape-1 {
  width: 1140px;
  height: 310px;
  margin: -310px auto 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.75rem;
  margin: -241px 556px 0;
}

.u-section-5 .u-list-1 {
  width: 855px;
  margin: 128px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 232px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 14px 30px;
}

.u-section-5 .u-image-2 {
  width: 176px;
  height: 176px;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/CI.png");
  background-position: 50% 50%;
  margin: -62px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 14px 30px;
}

.u-section-5 .u-image-3 {
  width: 176px;
  height: 176px;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/DATE.png");
  background-position: 50% 50%;
  margin: -62px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 14px 30px;
}

.u-section-5 .u-image-4 {
  width: 176px;
  height: 176px;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/BUILDING.png");
  background-position: 50% 50%;
  margin: -62px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  width: 803px;
  font-weight: normal;
  margin: 35px auto 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.4;
  width: 626px;
  margin: 41px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 955px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-shape-1 {
    width: 940px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -240px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 141px;
    margin-left: calc(((100% - 940px) / 2) + 25px);
  }

  .u-section-5 .u-text-5 {
    margin-top: 52px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 39px;
    margin-right: calc(((100% - 940px) / 2) + 60px);
    margin-left: calc(((100% - 940px) / 2) + 25px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1029px;
  }

  .u-section-5 .u-image-1 {
    height: 237px;
    margin-top: 10px;
    width: 720px;
  }

  .u-section-5 .u-shape-1 {
    width: 720px;
    margin-top: -237px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -284px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
    margin-top: 119px;
    margin-left: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 223px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 41px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 41px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 17px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 70px;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1167px;
  }

  .u-section-5 .u-image-1 {
    height: 178px;
    width: 540px;
    margin-top: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -178px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: -231px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-5 .u-list-1 {
    width: 555px;
    margin-top: 99px;
    margin-right: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-5 .u-repeater-1 {
    min-height: 246px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 17px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 17px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 26px;
  }

  .u-section-5 .u-text-6 {
    margin: 48px 81px 48px 96px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 721px;
  }

  .u-section-5 .u-image-1 {
    height: 112px;
    width: 340px;
  }

  .u-section-5 .u-shape-1 {
    height: 122px;
    margin-top: -112px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -89px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    width: 362px;
    margin-top: 45px;
    margin-right: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 230px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 56px;
  }

  .u-section-5 .u-image-2 {
    width: 101px;
    height: 101px;
    margin-top: -16px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 56px;
  }

  .u-section-5 .u-image-3 {
    width: 101px;
    height: 101px;
    margin-top: -16px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 35px;
  }

  .u-section-5 .u-image-4 {
    width: 101px;
    height: 101px;
    margin-top: -16px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: -19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    line-height: 1.2;
    font-size: 0.875rem;
    margin: 33px 39px 60px;
  }
}