 .u-section-1 {
  min-height: 399px;
}

.u-section-1 .u-image-1 {
  height: 400px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1440px;
}

.u-section-2 .u-text-1 {
  margin: 50px 90px 0;
}

.u-section-2 .u-post-details-1 {
  min-height: 799px;
  margin: 87px 0 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 30px;
}

.u-section-2 .u-image-1 {
  height: 486px;
  width: 931px;
  margin: 30px 209px 0 0;
}

.u-section-2 .u-metadata-1 {
  margin: 20px auto 0 30px;
}

.u-section-2 .u-text-3 {
  margin: 50px 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-post-details-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    height: 376px;
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    height: 282px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 178px;
    width: 340px;
  }
}