 .u-section-1 {
  background-image: url("/images/bg.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 281px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 554px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-2 .u-image-1 {
  min-height: 354px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("https://assets.nicepagecdn.com/23954ad7/5333801/images/e77b97d619bf9b889cdef846878150d7343ff29c33efcc782ada8cbefa886ee652ebf52cc25ccb698ba09d7eb6f4ecd48d6ef5d446a45edeeb0190_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-group-elements-1 {
  width: 228px;
  min-height: 228px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  width: 199px;
  height: 199px;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/Fichier4ICONE.png");
  background-position: 50% 50%;
  margin: 15px auto 0 15px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 354px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 40px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  line-height: 0.6;
  font-size: 2.25rem;
  margin: 30px 19px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  line-height: 0.6;
  font-size: 1.125rem;
  margin: 20px 60px 0 17px;
}

.u-section-2 .u-text-3 {
  font-weight: 300;
  line-height: 1.4;
  margin: 25px 17px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 292px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 292px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-2 .u-image-1 {
    min-height: 224px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-2 .u-image-1 {
    min-height: 336px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-2 .u-image-1 {
    min-height: 212px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 721px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: normal;
  width: 249px;
  margin: 64px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 877px;
  margin: 58px auto 0;
}

.u-section-3 .u-list-1 {
  width: 877px;
  height: auto;
  margin: 50px auto 23px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 425px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-3 .u-image-1 {
  width: 203px;
  height: 203px;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/Sans-titre---1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  line-height: 1.4;
  margin: 13px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-3 .u-image-2 {
  width: 203px;
  height: 203px;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/MATURITE.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 24px auto 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  line-height: 1.4;
  margin: 13px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-3 .u-image-3 {
  width: 203px;
  height: 203px;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/TNTERETS.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 24px auto 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  line-height: 1.4;
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 384px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 4px 0;
  }

  .u-section-3 .u-image-1 {
    width: 147px;
    height: 147px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 40px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 4px 0;
  }

  .u-section-3 .u-image-2 {
    width: 147px;
    height: 147px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 40px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 4px 0;
  }

  .u-section-3 .u-image-3 {
    width: 147px;
    height: 147px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 40px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 725px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 556px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: normal;
  width: 249px;
  margin: 65px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 85px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 270px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 4px;
}

.u-section-4 .u-icon-1 {
  height: 152px;
  width: 90px;
  background-image: none;
  margin: 25px 60px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 13px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 4px;
}

.u-section-4 .u-icon-2 {
  height: 152px;
  width: 90px;
  background-image: none;
  margin: 25px 60px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: 13px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 4px;
}

.u-section-4 .u-icon-3 {
  height: 152px;
  width: 90px;
  background-image: none;
  margin: 25px 60px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 13px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 4px;
}

.u-section-4 .u-icon-4 {
  height: 152px;
  width: 90px;
  background-image: none;
  margin: 25px 60px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 13px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 4px;
}

.u-section-4 .u-icon-5 {
  height: 152px;
  width: 90px;
  background-image: none;
  margin: 25px 60px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-6 {
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 8px));
    min-height: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 583px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1241px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 64px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 996px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 85px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 85px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 15px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 85px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 15px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 85px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 15px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 85px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-list-1 {
    margin-top: 52px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1117px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-icon-5 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 912px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: normal;
  width: 342px;
  margin: 64px auto 0;
}

.u-section-5 .u-table-1 {
  margin-top: 59px;
  margin-bottom: 60px;
  height: 652px;
}

.u-section-5 .u-table-body-1 {
  font-size: 0.875rem;
}

.u-section-5 .u-table-cell-1 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-5 .u-table-cell-2 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-5 .u-table-cell-3 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-5 .u-table-cell-4 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-5 .u-table-cell-5 {
  font-size: 1rem;
}

.u-section-5 .u-table-cell-6 {
  font-size: 1rem;
}

.u-section-5 .u-table-cell-7 {
  width: 246px;
  margin-right: 221px;
  margin-left: 473px;
  font-size: 1rem;
  font-weight: 400;
}

.u-section-5 .u-table-cell-8 {
  font-size: 1rem;
}

.u-section-5 .u-table-cell-9 {
  font-size: 1rem;
}

.u-section-5 .u-table-cell-10 {
  font-size: 1rem;
}

.u-section-5 .u-table-cell-11 {
  width: 246px;
  margin-right: 221px;
  margin-left: 473px;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-12 {
  font-size: 1rem;
}

.u-section-5 .u-table-cell-13 {
  font-size: 1rem;
}

.u-section-5 .u-table-cell-14 {
  font-size: 1rem;
}

.u-section-5 .u-table-cell-15 {
  width: 246px;
  margin-right: 221px;
  margin-left: 473px;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-16 {
  font-size: 1rem;
}

.u-section-5 .u-table-cell-17 {
  background-image: none;
  font-size: 1.875rem;
}

.u-section-5 .u-table-cell-18 {
  background-image: none;
}

.u-section-5 .u-table-cell-19 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-20 {
  background-image: none;
}

@media (max-width: 991px) {
  .u-section-5 .u-table-cell-5 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-table-cell-6 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-table-cell-7 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-table-cell-8 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-table-cell-9 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-table-cell-10 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-table-cell-11 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-table-cell-14 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-table-cell-15 {
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-table-1 {
    width: 440px;
    margin-left: -50px;
    margin-right: -50px;
  }
}