 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/Plandetravail1PAWEBSITE.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  min-height: 435px;
}.u-section-3 .u-sheet-1 {
  min-height: 1398px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 524px;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/083d6cffb9ddf74abe8c85f9322651150dc3784b281eb695cbe1bbde3550099d1edf440898435a875025f5c013916574181bd829b97a67df3fd466_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 1px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 477px 0 35px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 874px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 29px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  margin: 52px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1439px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 432px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin: 218px 276px -1px 36px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-3 .u-image-1 {
    min-height: 431px;
  }

  .u-section-3 .u-text-1 {
    margin: 216px 66px 0 26px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1195px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-3 .u-image-1 {
    min-height: 503px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 14px 0;
  }

  .u-section-3 .u-text-1 {
    margin: 267px -17px -15px 19px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2601px;
  }

  .u-section-3 .u-image-1 {
    min-height: 399px;
  }

  .u-section-3 .u-text-1 {
    margin: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 2108px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1501px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 550px;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/14502-2.jpg");
  background-position: 50% 100%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 618px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 951px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  margin: 48px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-4 .u-image-1 {
    min-height: 454px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 418px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 784px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1574px;
  }

  .u-section-4 .u-image-1 {
    min-height: 372px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 198px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1162px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 53px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-4 .u-image-1 {
    min-height: 503px;
    background-position: 0% 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 21px 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin: 149px 56px -9px 22px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-4 .u-image-1 {
    min-height: 347px;
  }

  .u-section-4 .u-text-1 {
    margin: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 2341px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 34px;
  }
}