 .u-section-1 {
  background-image: url("/images/bg.webp");
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/Fichier1FOND.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1181px;
}

.u-section-2 .u-image-1 {
  width: 250px;
  min-height: 250px;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/Fichier3bendiabagate.jpg");
  background-position: 50% 50%;
  margin: 80px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  text-transform: none;
  font-family: Roboto, sans-serif;
  width: 436px;
  margin: 45px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  width: 513px;
  margin: 0 auto;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 551px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 2px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 300;
  margin: 39px 3px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.75rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px auto 57px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1011px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }
} .u-section-3 {
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/TRAM-FOND_Plan-de-travail-1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1203px;
}

.u-section-3 .u-image-1 {
  width: 250px;
  min-height: 250px;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/Fichier4bendiabagate.jpg");
  background-position: 50% 50%;
  margin: 64px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  text-transform: none;
  font-family: Roboto, sans-serif;
  width: 436px;
  margin: 45px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  width: 513px;
  margin: 0 auto;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 556px;
}

.u-section-3 .u-container-layout-2 {
  padding: 28px 0 4px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.75rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 73px auto 54px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1246px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 3px;
  }

  .u-section-3 .u-line-1 {
    height: 3px;
    margin-top: 54px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-3 .u-text-3 {
    margin-right: -6px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 39px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1352px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 23px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 23px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 2px;
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1585px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1000px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1880px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    margin-right: -6px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 63px;
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/Fichier1FOND.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1328px;
}

.u-section-4 .u-image-1 {
  width: 250px;
  min-height: 250px;
  background-image: url("https://assets.nicepagecdn.com/23954ad7/5333801/images/Fichier7bendiabagate.jpg");
  background-position: 50% 50%;
  margin: 45px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  text-transform: none;
  font-family: Roboto, sans-serif;
  width: 436px;
  margin: 45px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  width: 513px;
  margin: 6px auto 0;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 748px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 3px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 0.75rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 23px auto 55px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-4 .u-line-1 {
    height: 3px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 746px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 3px;
    margin-right: -6px;
    margin-bottom: -1px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 52px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1733px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 23px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1280px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1867px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1277px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-right: -6px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 15px;
    margin-bottom: 42px;
  }
}