# Admin Credentials
# IMPORTANT: Changez ces valeurs en production !
ADMIN_USERNAME=admin
ADMIN_PASSWORD=imaad2024!

# JWT Secret - Générez une clé unique pour la production
# Vous pouvez générer une clé avec: openssl rand -hex 32
JWT_SECRET=imaad-secret-key-change-in-production-2024
